<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirigir todas las peticiones a la API REST hacia backend/public/index.php
    RewriteCond %{REQUEST_URI} ^/api [NC]
    RewriteRule ^api/(.*)$ backend/public/index.php [QSA,L]
    
    RewriteCond %{REQUEST_URI} ^/backend/public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^backend/public/(.*)$ backend/public/index.php [QSA,L]
</IfModule>
